/* Main section */

.main-section {
  margin-top: 10px;
  color: #000;
  margin-bottom: 100px;
}

.main-title {
  color: #fff;
  margin-bottom: 40px;
  text-align: center;
  font-weight: 900;
  font-size: 36px;
}

.main-text {
  color: #fff;
  margin: auto;
  margin-bottom: 40px;
  text-align: center;
  font-size: 20px;
}

.main-img {
  display: block;
  margin: auto;
  width: 450px;
  border-radius: 30px;
}

/* Media */

@media (max-width: 1400px) {
  .logo {
    font-size: 50px;
  }

  .user-name {
    font-size: 20px;
  }

  .main-section {
    margin-top: 25px;
  }

  .main-title {
    font-size: 25px;
  }

  .main-text {
    font-size: 20px;
    width: 50%;
  }
}

@media (max-width: 1000px) {
  .main-text {
    width: 80%;
  }
}

@media (max-width: 600px) {
  header {
    flex-direction: column;
  }
}
