/* Main section */

.main-section {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-title {
  color: #fff;
  margin: auto;
  margin-bottom: 75px;
  font-family: Comfortaa;
  text-align: center;
  font-size: 36px;
  max-width: 570px;

  position: relative;
  padding: 5px;
  backdrop-filter: blur(1px);
  animation: slide 1s ease-in-out;
}

@keyframes slide {
  0% {
    opacity: 0;
    filter: blur(10px);
    bottom: 500px;
  }
  100% {
    opacity: 1;
    filter: blur(0px);
    bottom: 0;
  }
}

.main-searcher {
  display: grid;
  grid-template-columns: 1fr 50px;
  margin: auto;
  width: 700px;
  background: rgba(255, 255, 255, 0.63);
  border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  box-shadow: 0px 8px 20px 10px rgb(163 163 163 / 18%);
  border-radius: 50px;
  padding: 10px 20px;
}

.main-searcher-input {
  background: transparent;
  border: 0;
  outline: none;
  padding: 10px 20px;
  font-size: 20px;
}

.main-searcher-input::placeholder {
  color: #00000080;
  font-size: 20px;
}

.main-searcher-link {
  display: block;
  margin: auto;
  border: 0;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  position: relative;
  transition: transform linear 0.15s;
}

.main-searcher-lin:hover {
  transform: scale(1.3);
}

.main-searcher-img {
  width: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Media */

@media (max-width: 1000px) {
  header {
    height: auto;
    flex-direction: row;
  }

  .user {
    bottom: 5px;
  }

  .main-title {
    font-size: 30px;
  }

  .main-searcher {
    width: 70%;
  }

  .main-title {
    width: 80%;
    margin-bottom: 50px;
    font-size: 25px;
  }

  @keyframes slide {
    0% {
      opacity: 0;
      filter: blur(10px);
      bottom: 500px;
    }
    100% {
      opacity: 1;
      filter: blur(0px);
      bottom: 0;
    }
  }
}

@media (max-width: 600px) and (max-height: 700px) {
  body {
    height: 600px;
  }

  .main-section {
    top: 0;
    left: 0;
    transform: none;
    position: relative;
    margin: 50px auto;
  }
}

@media (max-height: 600px) {
  body {
    height: 600px;
  }

  .main-section {
    top: 0;
    left: 0;
    transform: none;
    position: relative;
    margin: 50px auto;
  }
}

@media (max-width: 600px) {
  header {
    flex-direction: column;
  }
  
  .main-searcher-input {
    width: 220px;
  }
}
