/* Main section */

.main-section {
    width: 500px;
    padding: 25px;
    background: rgba(255, 255, 255, 0.35);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 20px 50px 0px rgba(163, 163, 163, 0.35);
    backdrop-filter: blur(5px);
    border-radius: 52px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input::placeholder {
    color: #3a3a3a;
    font-weight: 900;
}

.failed {
    padding: 30px;
    padding-top: 0;
    font-size: 18px;
    color:  #FC2847;
    width: 450px;
    font-weight: 400;
    font-family: Comfortaa;
    text-align: center;
}

.select-block {
    display: flex;
    justify-content: center;
    gap: 25px;
    font-size: 30px;
    font-weight: 700;
    color: #000;
    margin-bottom: 25px;
}

.authorization-select, .registration-select {
    cursor: pointer;
    font-family: Comfortaa;
    font-weight: 900;
}

.authorization-select.active, .registration-select.active {
    color: #fff;
}

.authorization, .registration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.input {
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.35);
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    border-radius: 52px;
    font-family: Comfortaa;
    font-size: 16px;
    font-weight: 900;
    color: #000;
    outline: none;
    height: 50px;
    width: 100%;
}

.block-button:has(input:focus) .password-generation-text {
    display: block;
}

.block-button {
    position: relative;
    border-radius: 4px;
    height: 50px;
}

.password-generation-button {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0, -50%);
    transition: 0.25s;
}

.password-generation-img {
    width: 35px;
}

.password-generation-text {
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.35);
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    font-family: Comfortaa;
    font-weight: 900;
    display: none;
    position: absolute;
    top: -20%;
    left: 98%;
    transform: translate(50px, -50%);
    font-family: Comfortaa;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.password-generation-text::before {
    content: "";
    position: absolute;
    border: 10px solid transparent;
    border-top-color: rgba(255, 255, 255, 0.35);
    transform: rotate(45deg);
    bottom: -10px;
    left: -10px;
}

.submit {
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.35);
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    border-radius: 52px;
    font-family: Comfortaa;
    font-weight: 900;
    font-size: 16px;
    cursor: pointer;
}

.password-recovery {
    font-weight: 500;
    font-family: Comfortaa;
    text-align: center;
}


/* Media */

@media (max-width: 800px) {
    .logo {
        font-size: 60px;
    }

    .user-name {
        font-size: 18px;;
    }
}

@media (max-height: 900px) {
    .main-section {
        top: 0;
        left: 0;
        transform: none;
        position: relative;
        margin: 25px auto 100px;
    }
}

@media (max-width: 600px) {
    .main-section {
        width: 90%;
    }
}