{% extends "refresh_page.njk" %}

{% block content %}
  <div class="main-title">
    404 - Пейдж хот фаунд
  </div>
  <div class="main-text">
    Кажется, вы обидели обезьянку...
  </div>
  <video src="/static/videos/404.mp4" autoplay="True" muted="True" loop="True" class="main-img"></video>
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="/static/css/error.css" />
{% endblock %}
