<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Filmizyan</title>
    <link rel="shortcut icon" href="/static/images/basic/favicon.jpg" type="image/x-icon"/>
    <link rel="stylesheet" href="/static/css/loading.css"/>
    <script type="text/javascript" src="/static/js/loading.js"></script>
    {% block css %}{% endblock %}
  </head>
  <body>
    <div class="loading">
      <header>
        <a href="/" class="logo">Filmizyan</a>
      </header>

      <div class="loading-inner">
        <div class="floating-circular">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
        </div>
        <div class="loading-text">Идет загрузка</div>
      </div>
    </div>
  </body>
</html>
