<!DOCTYPE html>
<html>
  <body>
    <table width="100%" cellpadding="0" cellspacing="0">
      <tr>
        <td
          align="center"
          style="
            background-image: url('/static/images/basic/background.png');
            padding: 20px;
            border-radius: 18px;
            height: 700px;
          "
        >
          <table width="60%" cellpadding="0" cellspacing="0">
            <tr>
              <td
                align="center"
                style="
                  width: 100%;
                  font-family: Arial, Helvetica, sans-serif;
                  line-height: 1.6;
                  padding: 50px;
                  border-radius: 24px;
                  background: rgba(255, 255, 255, 0.35);
                  border: 1px solid rgba(255, 255, 255, 0.3);
                  backdrop-filter: blur(5px);
                  border-radius: 52px;
                "
              >
                <h1 style="color: #4d90c0; margin: 0 0 50px 0; font-size: 36px">
                  Смена пароля на Filmizyan.
                </h1>

                <p
                  style="
                    width: 100%;
                    margin: 0 0 50px 0;
                    font-size: 22px;
                    color: black;
                  "
                >
                  Для смены пароля от аккаунта
                  <span
                    style="
                      unicode-bidi: bidi-override;
                      direction: rtl;
                      font-weight: 800;
                    "
                    >{{ account }}</span
                  >
                  нажмите на кнопку ниже:
                </p>

                <a
                  href="{{ recovery_url }}"
                  style="
                    text-decoration: none;
                    color: white;
                    display: inline-block;
                    background: #4d90c0;
                    padding: 20px 35px;
                    font-size: 20px;
                    border-radius: 16px;
                    margin: 0 0 50px 0;
                  "
                >
                  Сменить пароль
                </a>

                <p style="margin: 0 0 50px 0; font-size: 20px">
                  Ссылка будет активна {{ hours_active }} ч.
                </p>

                <div style="margin-top: 70px; font-size: 16px; color: #3c3c3c">
                  Если это были не вы, проигнорируйте это письмо.
                </div>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
